
*.DS_Store
*.suo
*.csproj.user
*.vspscc
/Website/SourceCode/Profiles/Profiles/Profiles.Publish.xml
/Website/SourceCode/Profiles/Profiles/ProfilesDebuggingLog.txt
/Website/SourceCode/Profiles/Profiles/obj/Debug
/Website/SourceCode/Profiles/Profiles/obj/Release
/Website/SourceCode/Profiles/Profiles/bin/IKVM.GNU.Classpath.dll
/Website/SourceCode/Profiles/Profiles/bin/IKVM.Runtime.dll
/Website/SourceCode/Profiles/Profiles/bin/Microsoft.ServiceModel.Web.dll
/Website/SourceCode/Profiles/Profiles/bin/Profiles.dll
/Website/SourceCode/Profiles/Profiles/bin/Profiles.pdb
/Website/SourceCode/Profiles/Profiles/bin/Profiles.XML
/Website/SourceCode/Profiles/Profiles/bin/ProfilesSPARQLAPI.dll
/Website/SourceCode/Profiles/Profiles/bin/ProfilesSPARQLAPI.pdb
/Website/SourceCode/Profiles/Profiles/bin/SemWeb.dll
/Website/SourceCode/Profiles/Profiles/bin/SemWeb.pdb
/Website/SourceCode/Profiles/Profiles/bin/sparql-core.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Common.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Common.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.ProfileService.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.ProfileService.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.DataContracts.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.DataContracts.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.ServiceContracts.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.ServiceContracts.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.ServiceImplementation.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.ServiceImplementation.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Utility.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Utility.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Microsoft.ServiceModel.Web.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Profiles.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Profiles.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Profiles.xml
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/obj/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.DataContracts/bin/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.DataContracts/bin/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.DataContracts/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.DataContracts/obj/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceContracts/bin/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceContracts/bin/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceContracts/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceContracts/obj/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceImplementation/bin/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceImplementation/bin/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceImplementation/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceImplementation/obj/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Utility/bin/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Utility/bin/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Utility/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Utility/obj/Release
/Website/SourceCode/ProfilesBetaAPI/Profiles.Common/bin/Debug
/Website/SourceCode/ProfilesBetaAPI/Profiles.Common/bin/Release
/Website/SourceCode/ProfilesBetaAPI/Profiles.Common/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Profiles.Common/obj/Release
/Website/SourceCode/ProfilesSearchAPI/ProfilesSearchAPI/bin/*
/Website/SourceCode/ProfilesSearchAPI/ProfilesSearchAPI/obj/*
/Website/SourceCode/ProfilesSPARQLAPI/ProfilesSPARQLAPI/bin/*
/Website/SourceCode/ProfilesSPARQLAPI/ProfilesSPARQLAPI/obj/*
/Website/SourceCode/SemWeb/bin
/Website/SourceCode/SemWeb/src/obj
/Website/SourceCode/SemWeb/src/bin/Debug
/Website/SourceCode/SemWeb/src/bin/Mono.GetOptions.dll
/Website/SourceCode/SemWeb/src/bin/SemWeb.dll
/Website/SourceCode/SemWeb/src/bin/SemWeb.pdb
/Website/SourceCode/SemWeb/src/bin/SemWeb.Sparql.dll
/Website/SourceCode/SemWeb/src/bin/SemWeb.Sparql.pdb
/Website/SourceCode/ProfilesSPARQLAPI/bin/*
/Website/SourceCode/ProfilesSPARQLAPI/obj/*
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/ProfilesDebuggingLog.txt