
/Release/*.zip
/Release/ProfilesRNS

*.DS_Store
*.suo
*.csproj.user
*.vspscc
/Website/SourceCode/Profiles/Profiles/Profiles.Publish.xml
/Website/SourceCode/Profiles/Profiles/ProfilesDebuggingLog.txt
/Website/SourceCode/Profiles/Profiles/obj/Debug
/Website/SourceCode/Profiles/Profiles/obj/Release
/Website/SourceCode/Profiles/Profiles/bin/IKVM.GNU.Classpath.dll
/Website/SourceCode/Profiles/Profiles/bin/IKVM.Runtime.dll
/Website/SourceCode/Profiles/Profiles/bin/Microsoft.ServiceModel.Web.dll
/Website/SourceCode/Profiles/Profiles/bin/Profiles.dll
/Website/SourceCode/Profiles/Profiles/bin/Profiles.pdb
/Website/SourceCode/Profiles/Profiles/bin/Profiles.XML
/Website/SourceCode/Profiles/Profiles/bin/ProfilesSPARQLAPI.dll
/Website/SourceCode/Profiles/Profiles/bin/ProfilesSPARQLAPI.pdb
/Website/SourceCode/Profiles/Profiles/bin/SemWeb.dll
/Website/SourceCode/Profiles/Profiles/bin/SemWeb.pdb
/Website/SourceCode/Profiles/Profiles/bin/sparql-core.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Common.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Common.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.ProfileService.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.ProfileService.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.DataContracts.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.DataContracts.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.ServiceContracts.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.ServiceContracts.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.ServiceImplementation.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Service.ServiceImplementation.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Utility.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Connects.Profiles.Utility.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Profiles.dll
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Profiles.pdb
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/bin/Profiles.xml
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/obj/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.DataContracts/bin/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.DataContracts/bin/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.DataContracts/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.DataContracts/obj/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceContracts/bin/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceContracts/bin/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceContracts/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceContracts/obj/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceImplementation/bin/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceImplementation/bin/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceImplementation/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service.ServiceImplementation/obj/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Utility/bin/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Utility/bin/Release
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Utility/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Utility/obj/Release
/Website/SourceCode/ProfilesBetaAPI/Profiles.Common/bin/Debug
/Website/SourceCode/ProfilesBetaAPI/Profiles.Common/bin/Release
/Website/SourceCode/ProfilesBetaAPI/Profiles.Common/obj/Debug
/Website/SourceCode/ProfilesBetaAPI/Profiles.Common/obj/Release
/Website/SourceCode/ProfilesSearchAPI/bin/*
/Website/SourceCode/ProfilesSearchAPI/obj/*
/Website/SourceCode/ProfilesSPARQLAPI/ProfilesSPARQLAPI/bin/*
/Website/SourceCode/ProfilesSPARQLAPI/ProfilesSPARQLAPI/obj/*
/Website/SourceCode/SemWeb/bin
/Website/SourceCode/SemWeb/src/obj
/Website/SourceCode/SemWeb/src/bin/Debug
/Website/SourceCode/SemWeb/src/bin/Mono.GetOptions.dll
/Website/SourceCode/SemWeb/src/bin/SemWeb.dll
/Website/SourceCode/SemWeb/src/bin/SemWeb.pdb
/Website/SourceCode/SemWeb/src/bin/SemWeb.Sparql.dll
/Website/SourceCode/SemWeb/src/bin/SemWeb.Sparql.pdb
/Website/SourceCode/ProfilesSPARQLAPI/bin/IKVM.GNU.Classpath.dll
/Website/SourceCode/ProfilesSPARQLAPI/bin/IKVM.Runtime.dll
/Website/SourceCode/ProfilesSPARQLAPI/bin/ProfilesSPARQLAPI.dll
/Website/SourceCode/ProfilesSPARQLAPI/bin/ProfilesSPARQLAPI.pdb
/Website/SourceCode/ProfilesSPARQLAPI/bin/SemWeb.dll
/Website/SourceCode/ProfilesSPARQLAPI/bin/SemWeb.pdb
/Website/SourceCode/ProfilesSPARQLAPI/bin/sparql-core.dll
/Website/SourceCode/ProfilesSPARQLAPI/obj/*
/Website/SourceCode/ProfilesBetaAPI/Connects.Profiles.Service/ProfilesDebuggingLog.txt
UpgradeLog.XML
/Website/SourceCode/Profiles/Backup/Common/SerializeXML.cs
/Website/SourceCode/Profiles/Backup/Common/Namespace.cs
/Website/SourceCode/Profiles/Backup/Common/DebugLogging.cs
/Website/SourceCode/Profiles/Backup/Common/Cache.cs
/Website/SourceCode/Profiles/Backup/Common/APICommon.cs
/Website/SourceCode/Profiles/Backup/Profiles/About
/Website/SourceCode/Profiles/Backup/Profiles/ActiveNetwork/Modules/MyNetwork
/Website/SourceCode/Profiles/Backup/Profiles/ActiveNetwork/Modules
/Website/SourceCode/Profiles/Backup/Profiles/ActiveNetwork/PresentationXML
/Website/SourceCode/Profiles/Backup/Profiles/ActiveNetwork
/Website/SourceCode/Profiles/Backup/Profiles/DIRECT/CSS
/Website/SourceCode/Profiles/Backup/Profiles/DIRECT/Images
/Website/SourceCode/Profiles/Backup/Profiles/DIRECT
/Website/SourceCode/Profiles/Backup/Profiles/Edit
/Website/SourceCode/Profiles/Backup/Profiles/Error/Modules/ErrorMessage
/Website/SourceCode/Profiles/Backup/Profiles/Error/Modules
/Website/SourceCode/Profiles/Backup/Profiles/Error/PresentationXML
/Website/SourceCode/Profiles/Backup/Profiles/Error
/Website/SourceCode/Profiles/Backup/Profiles/Framework/CSS
/Website/SourceCode/Profiles/Backup/Profiles/Framework/Images
/Website/SourceCode/Profiles/Backup/Profiles/Framework
/Website/SourceCode/Profiles/Backup/Profiles/History
/Website/SourceCode/Profiles/Backup/Profiles/Login
/Website/SourceCode/Profiles/Backup/Profiles/ORCID
/Website/SourceCode/Profiles/Backup/Profiles/ORNG
/Website/SourceCode/Profiles/Backup/Profiles/Profile
/Website/SourceCode/Profiles/Backup/Profiles/Properties
/Website/SourceCode/Profiles/Backup/Profiles/Proxy
/Website/SourceCode/Profiles/Backup/Profiles/Search
/Website/SourceCode/Profiles/Backup/Profiles/SPARQL
/Website/SourceCode/Profiles/Backup/Profiles/ProfilesDisplay.aspx
/Website/SourceCode/Profiles/Backup/Profiles/Profiles.csproj
/Website/SourceCode/Profiles/Backup/Profiles/ProfileDetails.aspx.designer.cs
/Website/SourceCode/Profiles/Backup/Profiles/ProfileDetails.aspx.cs
/Website/SourceCode/Profiles/Backup/Profiles/ProfileDetails.aspx
/Website/SourceCode/Profiles/Backup/Profiles/Global.asax.cs
/Website/SourceCode/Profiles/Backup/Profiles/Global.asax
/Website/SourceCode/Profiles/Backup/Profiles/DirectService.aspx.designer.cs
/Website/SourceCode/Profiles/Backup/Profiles/DirectService.aspx.cs
/Website/SourceCode/Profiles/Backup/Profiles/DirectService.aspx
/Website/SourceCode/Profiles/Backup/Profiles/Default.aspx.designer.cs
/Website/SourceCode/Profiles/Backup/Profiles/Default.aspx.cs
/Website/SourceCode/Profiles/Backup/Profiles/Default.aspx
/Website/SourceCode/Profiles/Backup/Profiles/ApplicationModuleCatalogue.xml
/Website/SourceCode/Profiles/Backup/Profiles/ProfilesDisplay.aspx.cs
/Website/SourceCode/Profiles/Backup/Profiles/ProfilesDisplay.aspx.designer.cs
/Website/SourceCode/Profiles/Backup/Profiles/SiteMap.aspx.designer.cs
/Website/SourceCode/Profiles/Backup/Profiles/SiteMap.aspx.cs
/Website/SourceCode/Profiles/Backup/Profiles/SiteMap.aspx
/Website/SourceCode/Profiles/Backup/Profiles/RobotsTxt.aspx
/Website/SourceCode/Profiles/Backup/Profiles/REST.aspx.designer.cs
/Website/SourceCode/Profiles/Backup/Profiles/REST.aspx.cs
/Website/SourceCode/Profiles/Backup/Profiles/REST.aspx
/Website/SourceCode/Profiles/Backup/Properties
/Website/SourceCode/Profiles/Backup/schema
/Website/SourceCode/Profiles/Backup/Utilities
/Website/SourceCode/Profiles/Backup/XSD
/Website/SourceCode/Profiles/Backup/SearchOptions.cs
/Website/SourceCode/Profiles/Backup/ProfilesSPARQLAPI.svc.cs
/Website/SourceCode/Profiles/Backup/ProfilesSPARQLAPI.svc
/Website/SourceCode/Profiles/Backup/ProfilesSPARQLAPI.csproj
/Website/SourceCode/Profiles/Backup/ProfilesSearchAPI.svc.cs
/Website/SourceCode/Profiles/Backup/ProfilesSearchAPI.svc
/Website/SourceCode/Profiles/Backup/ProfilesSearchAPI.csproj
/Website/SourceCode/Profiles/Backup/ProfileService.svc
/Website/SourceCode/Profiles/Backup/Profiles.sln
/Website/SourceCode/Profiles/Backup/NetworkBrowserService.svc
/Website/SourceCode/Profiles/Backup/IProfilesSPARQLAPI.cs
/Website/SourceCode/Profiles/Backup/IProfilesSearchAPI.cs
/Website/SourceCode/Profiles/Backup/Connects.Profiles.Service.csproj
/Website/SourceCode/Profiles/Profiles/bin
/Website/SourceCode/ProfilesSPARQLAPI/bin
/Website/SourceCode/Profiles/Profiles/Properties/PublishProfiles
