.searchForm td div.header { color: #CA7C29; font-size: 30px; font-weight: bold; margin: 16px 0 8px; }
.searchForm #div1 { border-top: none; padding-top: 12px; } 
.searchForm #div1 th { font-weight: normal; width: 140px; }
#searchOptions { margin-top: -16px; margin-bottom: 25px; }
#txtSearchFor { padding-left: 2px; height: 30px; height: 22px\9; padding-top: 6px\9; }
.listTable th { border: 1px solid #CCC !important; }
#tblSearchResults tr td:first-child { font-weight: bold; text-decoration: underline; }
#suckerfishmenu li.item-home a { background-color: #6A7D7D !important; }
/* we didn't use this filters display
#filtersContainer { width: 680px; }
#filtersContainer #filters { display: inline-block; width: 580px; margin-bottom: 5px; white-space: nowrap; }
#filtersContainer #filters ul { display: inline; padding-left: 15px; margin: 0; }
#filtersContainer #filters ul li { display: inline; list-style-type: none; }
*/
#filters ul li strong { font-size: 150%; line-height: 20px; }
.connectionContainerTable { background-color: #F0F4F6; }
td.connectionLine { vertical-align: middle; }
image { border: none; }
.profiles .profilesContentMain .pageTabs { padding-left: 345px; 
  background-image: url('../../Framework/Images/tab_back.gif'); }
.panelActive { margin-top: 29px; margin-top: 35px\9; }
.profiles .profilesContentPassive { margin-top: 38px; margin-top: 35px\9; } 

input#chkExactphrase, input#institutionallexcept, input#departmentallexcept { display: none; }
#why { width:190px; font-size:11px; padding:1px; text-align:center; background-color:#F2F7F7; margin-left:30px }