<?xml version="1.0"?>
<!--
/*  
 
    Copyright (c) 2008-2012 by the President and Fellows of Harvard College. All rights reserved.  
    Profiles Research Networking Software was developed under the supervision of Griffin M Weber, MD, PhD.,
    and Harvard Catalyst: The Harvard Clinical and Translational Science Center, with support from the 
    National Center for Research Resources and Harvard University.


    Code licensed under a BSD License. 
    For details, see: LICENSE.txt 
  
*/-->
<configuration>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\log\sparql_search.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <appSettings>
    <add key="SecureMode" value="Public"/>
    <add key="LogService" value="true"/>
    <add key="DEBUG_PATH" value="\\jn75pc\log\ProfilesDebuggingLog.txt"/>
    <add key="CACHE_EXPIRE" value="600"/>
    <add key="COMMANDTIMEOUT" value="5000"/>
  </appSettings>
  <connectionStrings>
    <add name="ProfilesDB" connectionString="Data Source=(local);Initial Catalog=ProfilesRNS;User ID=app_profiles10;Password=Password1234" providerName="System.Data.SqlClient"/>
    <add name="SemWebDB" connectionString="sqlserver:[ProfilesRNS].[RDF.SemWeb]:Database=ProfilesRNS;Server=(local);User Id=App_Profiles10;PWD=Password1234"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="SVC Script Mapping" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="text/html"/>
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Search.ProfilesSPARQLAPIBehavior" name="Search.ProfilesSPARQLAPIBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="Search.IProfilesSPARQLAPI"/>
        <endpoint address="soap" binding="basicHttpBinding" contract="Search.IProfilesSPARQLAPI"/>
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="Search.IProfilesSPARQLAPI"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Search.ProfilesSPARQLAPIBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>