<?xml version="1.0"?>
<!--
    Copyright (c) 2008-2012 by the President and Fellows of Harvard College. All rights reserved.  
    Profiles Research Networking Software was developed under the supervision of Griffin M Weber, MD, PhD.,
    and Harvard Catalyst: The Harvard Clinical and Translational Science Center, with support from the 
    National Center for Research Resources and Harvard University.


    Code licensed under a BSD License. 
    For details, see: LICENSE.txt 
  
  
  
  
-->
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\devSearchAPI.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings>
    <add key="IsSecure" value="false"/>
    <add key="DEBUG" value="false"/>
    <add key="DEBUG_PATH" value="c:\log\ProfilesDebuggingLog.txt"/>
    <add key="CACHE_EXPIRE" value="5"/>
    <add key="COMMANDTIMEOUT" value="500"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
    <add key="SecureGenericUserName" value="109590"/>
    <add key="SecureGenericUserID" value="55724"/>
  </appSettings>
  <connectionStrings>
    <add name="ProfilesDB" connectionString="Data Source=(local);Initial Catalog=ProfilesRNS;User ID=app_profiles10;Password=Password1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <handlers>
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="text/html"/>
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Search.ProfilesSearchAPIBehavior" name="Search.ProfilesSearchAPIBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="Search.IProfilesSearchAPI"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="soap" binding="basicHttpBinding" contract="Search.IProfilesSearchAPI"/>
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="Search.IProfilesSearchAPI"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Search.ProfilesSearchAPIBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>