/*
Deployment script for Profiles_2_0_0

This code was generated by a tool.
Changes to this file may cause incorrect behavior and will be lost if
the code is regenerated.
*/

/*
Deployment script for Profiles_2_0_0

This code was generated by a tool.
Changes to this file may cause incorrect behavior and will be lost if
the code is regenerated.
*/

update [orng.].Apps set URL = 'http://profiles.ucsf.edu/apps_2.1/SlideShare.xml' where url = 'http://stage-profiles.ucsf.edu/apps_200/SlideShare.xml'
update [orng.].Apps set URL = 'http://profiles.ucsf.edu/apps_2.1/Links.xml' where url = 'http://stage-profiles.ucsf.edu/apps_200/Links.xml'
update [orng.].Apps set URL = 'http://profiles.ucsf.edu/apps_2.1/Twitter.xml' where url = 'http://stage-profiles.ucsf.edu/apps_200/Twitter.xml'
update [orng.].Apps set URL = 'http://profiles.ucsf.edu/apps_2.1/YouTube.xml' where url = 'http://stage-profiles.ucsf.edu/apps_200/YouTube.xml'

exec [ORNG.].[AddAppToOntology] 101;
--exec [ORNG.].[AddAppToOntology] 102;
exec [ORNG.].[AddAppToOntology] 103;
exec [ORNG.].[AddAppToOntology] 112;
exec [ORNG.].[AddAppToOntology] 114;
--exec [ORNG.].[AddAppToOntology] @appId = 116,@EditView = 'default', @ProfileView = 'default';

EXEC [Ontology.].[UpdateDerivedFields];

declare @nodeID as bigint
declare @appID as int
declare @visibility as nvarchar(50) 
declare @createdNodeID as bigint
declare @viewSecurityGroup as int
declare @gadgetURI as nvarchar(255)
declare @error bit
DECLARE db_cursor2 CURSOR FOR  
SELECT distinct d.nodeID, d.appid, isnull(visibility, 'Private') as visibility
From [orng.].AppData d left outer join
[ORNG.].AppRegistry r
on d.nodeId = r.nodeID and d.appID = r.appID

OPEN db_cursor2   
FETCH NEXT FROM db_cursor2 INTO @nodeId, @appID, @visibility

WHILE @@FETCH_STATUS = 0   
BEGIN   
	exec [ORNG.].[AddAppToPerson] @subjectID = @nodeID, @appID = @appID, @error = @error, @NodeID = @createdNodeID
	--@SubjectID BIGINT=NULL, @SubjectURI nvarchar(255)=NULL, @AppID INT, @SessionID UNIQUEIDENTIFIER=NULL, @Error BIT=NULL OUTPUT, @NodeID BIGINT=NULL OUTPUT
	if @visibility = 'Private' set @viewSecurityGroup = -40
	if @visibility = 'Public' set @viewSecurityGroup = -1
	if @appID = 101 set @gadgetURI = 'http://orng.info/ontology/orng#hasSlideShare'
	if @appID = 103 set @gadgetURI = 'http://orng.info/ontology/orng#hasLinks'
	if @appID = 112 set @gadgetURI = 'http://orng.info/ontology/orng#hasTwitter'
	if @appID = 114 set @gadgetURI = 'http://orng.info/ontology/orng#hasYouTube'
	Exec [RDF.].[SetNodePropertySecurity] @nodeID =	@nodeID, @propertyURI = @gadgetURI, @viewSecurityGroup = @viewSecurityGroup
	
	FETCH NEXT FROM db_cursor2 INTO @nodeId, @appID, @visibility    
END   

CLOSE db_cursor2   
DEALLOCATE db_cursor2

GO
PRINT N'Altering [ORNG.].[AppRegistry]...';


GO
ALTER TABLE [ORNG.].[AppRegistry] DROP COLUMN [visibility];



GO
PRINT N'Update complete.';


GO
