
/********************************************/
/* About                                    */
/********************************************/

.profiles .profilesContentMain .aboutText {
	margin-bottom:6px;
	width: 760px;
}
.profiles .profilesContentMain .aboutText h2 {
	margin:0;
	padding:0;
	font-size:1.3em;
	color:#4c7296;
	font-weight:bold;
}
.profiles .profilesContentMain .aboutText h3 {
	margin:0;
	padding:0;
	font-size:1.2em;
	color:#746a42;
	font-weight:bold;
}
.profiles .profilesContentMain .aboutText h4 {
	margin:0;
	padding:0;
	font-weight:bold;
}


