<?xml version="1.0" encoding="utf-8" ?>
<!-- 

  Copyright (c) 2008-2010 by the President and Fellows of Harvard College. All rights reserved.
  Profiles Research Networking Software was developed under the supervision of Griffin M Weber, MD, PhD.,
  and Harvard Catalyst: The Harvard Clinical and Translational Science Center, with support from the
  National Center for Research Resources and Harvard University.


  Code licensed under a BSD License. 
  For details, see: LICENSE.txt 
-->

<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Connects.Profiles.Service.ServiceContracts.ProfileServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Connects.Profiles.Service.ServiceContracts.ProfileServiceBehavior"
                name="Connects.Profiles.Service.ServiceContracts.ProfileServiceImp">
                <endpoint address="" binding="wsHttpBinding" contract="Connects.Profiles.Service.ServiceContracts.IProfileService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/Connects.Profiles.Service.ServiceContracts/ProfileService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
