<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching"/>
    <section name="ORNG" type="Profiles.ORNG.Utilities.ORNGSettings"/>
  </configSections>
  <appSettings>
    <add key="SPARQLEndPoint" value="http://[DOMAIN NAME HERE]/[APP or SUBWEB NAME HERE]/ProfilesSPARQLAPI.svc/Search"/>
    <add key="DEBUG" value="false"/>
    <add key="DEBUG_PATH" value="C:\logs\Debug_Logging.log"/>
    <add key="CACHE_EXPIRE" value="1"/>
    <add key="COMMANDTIMEOUT" value="500"/>
    <add key="ShowInstitutions" value="true"/>
    <add key="ShowDepartments" value="true"/>
    <add key="ShowDivisions" value="false"/>
    <add key="ShowOtherOptions" value="true"/>
    <add key="Login.PresentationXML" value="LoginFormPresentation"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
    <add key="ORCID.Enabled" value="0"/>
    <add key="ORCID.PathToProfiles" value="http://localhost:55956"/>
    <add key="ORCID.ClientID" value=""/>
    <add key="ORCID.ClientSecret" value=""/>
    <add key="ORCID.ORCID_API_URL" value="http://api.sandbox.orcid.org"/>
    <add key="ORCID.ORCID_URL" value="http://sandbox.orcid.org"/>
    <add key="ORCID.WebAppURL" value="http://localhost:55956/ORCID/"/>
    <add key="ORCID.OrganizationName" value="Profiles to ORCID Integration Site"/>
    <add key="ORCID.OrganizationNameShort" value="ORCID"/>
    <add key="ORCID.OrganizationNameAorAN" value="a"/>
    <add key="ORCID.CheckOrganizationNameEmailSuffix" value="0"/>
    <add key="ORCID.OrganizationNameEmailSuffix" value="bu.edu;bumc.bu.edu;va.gov"/>
    <add key="ORCID.ProductionURL" value="http://orcid.org/"/>
    <add key="ORCID.InfoSite" value=""/>
    <add key="ORCID.MessageVersion" value="1.2"/>
    <add key="ORCID.RequireAcknowledgement" value="0"/>
    <add key="ORCID.AcknowledgementInfoSite" value="[LINK TO INSTITUTION TERMS AND CONDITIONS PAGE]"/>
    <add key="ORCID.AcknowledgementInfoSiteText" value="Institution ORCID Terms and Conditions of Use."/>
    <add key="ORCID.BatchCreateSize" value="1000"/>
    <add key="ORCID.UseMailinatorEmailAddressForTestingOnStagingEnvironment" value="1"/>
    <add key="ORCID.ShowNoORCIDMessage" value="1"/>
    <add key="EAGLEI.EmailAddress" value="eagle-i@example.com"/>
    <add key="EAGLEI.InstitutionName" value="[Enter University Name Here]"/>
    <add key="GrantEndPoint" value="http://profiles.catalyst.harvard.edu/services/NIHGrants/SearchGrants.asp"/>
    <add key="GoogleAnalytics.TrackingID" value=""/>
	<add key ="GoogleMapsKey" value=""/>
  </appSettings>
  <ORNG Enabled="false" ShindigURL="http://[DOMAIN NAME HERE]/shindigorng" Features="container:views:rpc:jsonld:orng" TokenService="[SERVER NAME HERE]:8777" SocketPoolMin="3" SocketPoolMax="10" SocketPoolExpire="1000" SocketReceiveTimeout="5000" SearchLimit="100" SandboxPassword=""/>
  <dataConfiguration defaultDatabase="ProfilesDB"/>
  <connectionStrings>
    <add name="ProfilesDB" connectionString="Data Source=(local);Initial Catalog=ProfilesRNS;User ID=App_Profiles10;Password=Password1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
      <add name="Loading Scenario Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
    </cacheManagers>
  </cachingConfiguration>  
  <system.web>
    <authentication mode="Forms"/>
    <compilation debug="true" targetFramework="4.6.2"/>
    <customErrors mode="Off" defaultRedirect="/Error/Default.aspx">
      <error statusCode="404" redirect="~/Search"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <handlers>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>