<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SPARQLEndPoint" value="https://profiles-test.umassmed.edu/ProfilesSPARQLAPI/ProfilesSPARQLAPI.svc/Search" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Login.PresentationXML" value="ShibbolethLoginPresentation" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Shibboleth.ShibIdentityProvider" value="https://sm-tst11.ucollaborate.net/oam/fed" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Shibboleth.UserNameHeader" value="HTTP_REMOTEUSER" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Shibboleth.LoginURL" value="https://profiles-test.umassmed.edu/Shibboleth.sso/Login?" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Shibboleth.LogoutURL" value="https://profiles-test.umassmed.edu/Shibboleth.sso/Logout?" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.Enabled" value="0" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.PathToProfiles" value="https://profiles-test.umassmed.edu" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ClientID" value="APP-9G0LC7Z5E9TE4MXB" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ClientSecret" value="a2c6d39b-4797-4133-85a9-c040dfac2ffc" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ORCID_API_URL" value="https://api.sandbox.orcid.org" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ORCID_URL" value="https://sandbox.orcid.org" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.WebAppURL" value="https://profiles-test.umassmed.edu/ORCID/" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ProfilesImageStorageURL" value="https://profilesimageszimmelb.azureedge.net/UploadImage?code=cX06J2IBkBGPoh0sx6INTA7yMWL3MqnTYd1LWsImxbqhm5UD5kU43A=="/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ProfilesImageStorageName" value="Profiles"/>
  </appSettings>
  <ORNG xdt:Transform="Replace" Enabled="true" ShindigURL="https://profiles-test.umassmed.edu/shindigorng" Features="container:views:rpc:jsonld:orng" TokenService="profilesstg:8777" SocketPoolMin="3" SocketPoolMax="10" SocketPoolExpire="1000" SocketReceiveTimeout="5000" SearchLimit="100" SandboxPassword="s1mp13" />

  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="ProfilesDB" connectionString="Data Source=profilesbetasql.eastus.cloudapp.azure.com;Initial Catalog=ProfilesRNS_stg;User ID=App_Profiles10;Password=x9UMA$$rns; Max Pool Size=1000;" providerName="System.Data.SqlClient;" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>