.profilesPage .profilesPageColumnLeft { display: none; }
.profiles .profilesPageColumnRightCenter { width: 960px; }
.evenRow { background-color: #FFFFFF; }
#suckerfishmenu li.edit a { background-color: #6A7D7D !important; }
.editPage H2 { color: #666; }
#profile-components { width: 400px; float: left; border-top: 1px solid #CCC; }
#profile-components table { margin-bottom: -20px; border: none; }
#profile-components table td { border: none; height: 30px; border-width: 0 0 1px !important; }
.EditMenuTopRow { display: none; }
#profile-visibility { width: 450px; float: left; margin-left: 40px; border: 1px solid #CCC; }
#profile-visibility td { vertical-align: top; padding: 4px 10px; }
#profile-visibility td p { margin: 0; }
.EditMenuTopRow { display: none; }
#profile-components table tr td.first { color: #0088CC; }
#profile-components table tr td.first:hover { color: #005580; text-decoration: underline; cursor: pointer; }
#profile-components table td#namedegree { color: #0088CC; width: 150px; }
#profile-components table td#namedegree:hover { text-decoration: none; cursor: default; }
#profile-components table td span#cls { display: inline-block; float: right; color: #990000; font-size: 10px; line-height: 13px; width: 260px; margin-right: -10px; }
#profile-components table td span#public { display: inline-block;color: #000; }
#profile-components table td span#public img { margin: 0 43px 0 84px; margin: 0 40px 0 78px\9; }
textarea#ctl00_ContentMain_rptMain_ctl00_ctl00_ctl00_txtLabel,
textarea#ctl00_ContentMain_rptMain_ctl00_ctl00_ctl00_GridViewProperty_ctl02_txtLabel { height: 300px; }
#helpText { display: inline-block; padding-left: 200px; }
#editmenu .rdf { display: none; }

.progress { position: fixed; text-align: center; height: 100px; 
  width: 100px; top: 0; right: 0; left: 0; z-index: 9999999; opacity: 0.7; }
.progress span { border-width: 0px; position: fixed; padding: 5%; background-color: #FFFFFF; font-size: 25px; left: 25%; top: 20%; }