<mapconfig>
  <Zoom>
    <CenterLat>37.763308</CenterLat>
    <CenterLong>-122.458173</CenterLong>
    <ZoomLevel>6</ZoomLevel>
    <Label>California</Label>
    <SortOrder>1</SortOrder>
    <DefaultLevel></DefaultLevel>
  </Zoom>
  <Zoom>
    <CenterLat>37.763308</CenterLat>
    <CenterLong>-122.458173</CenterLong>
    <ZoomLevel>9</ZoomLevel>
    <Label>Bay Area</Label>
    <SortOrder>2</SortOrder>
    <DefaultLevel></DefaultLevel>
  </Zoom>
  <Zoom>
    <CenterLat>37.763308</CenterLat>
    <CenterLong>-122.458173</CenterLong>
    <ZoomLevel>12</ZoomLevel>
    <Label>San Francisco</Label>
    <SortOrder>3</SortOrder>
    <DefaultLevel>True</DefaultLevel>
  </Zoom>
</mapconfig>