<mapconfig>
  <Zoom>
    <CenterLat>42.354637</CenterLat>
    <CenterLong>-71.089168</CenterLong>
    <ZoomLevel>7</ZoomLevel>
    <Label>New England</Label>
    <SortOrder>1</SortOrder>
    <DefaultLevel></DefaultLevel>
  </Zoom>  
  <Zoom>
    <CenterLat>42.337526</CenterLat>
    <CenterLong>-71.089168</CenterLong>
    <ZoomLevel>13</ZoomLevel>
    <Label>Boston</Label>
    <SortOrder>2</SortOrder>
    <DefaultLevel>True</DefaultLevel>
  </Zoom>  
  <Zoom>
    <CenterLat>42.337526</CenterLat>
    <CenterLong>-71.104536</CenterLong>
    <ZoomLevel>16</ZoomLevel>
    <Label>Longwood</Label>
    <SortOrder>3</SortOrder>
    <DefaultLevel></DefaultLevel>
  </Zoom>
</mapconfig>