SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [ORCID.].[REF_Decision](
	[DecisionID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DecisionDescription] [varchar](150) NOT NULL,
	[DecisionDescriptionLong] [varchar](500) NOT NULL,
 CONSTRAINT [PK_REF_Decision] PRIMARY KEY CLUSTERED 
(
	[DecisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
