SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ORCID.].[ErrorLog](
	[ErrorLogID] [int] IDENTITY(1,1) NOT NULL,
	[InternalUsername] [nvarchar](11) NULL,
	[Exception] [text] NOT NULL,
	[OccurredOn] [smalldatetime] NOT NULL,
	[Processed] [bit] NOT NULL,
 CONSTRAINT [PK_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[ErrorLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [ORCID.].[ErrorLog] ADD  DEFAULT ((0)) FOR [Processed]
GO
