SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [ORCID.].[RecordLevelAuditType](
	[RecordLevelAuditTypeID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AuditType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RecordLevelAuditType] PRIMARY KEY CLUSTERED 
(
	[RecordLevelAuditTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
