SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [ORCID.].[REF_RecordStatus](
	[RecordStatusID] [tinyint] NOT NULL,
	[StatusDescription] [varchar](150) NOT NULL,
 CONSTRAINT [PK_REF_RecordStatus] PRIMARY KEY CLUSTERED 
(
	[RecordStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
