SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [ORCID.].[REF_PersonStatusType](
	[PersonStatusTypeID] [tinyint] IDENTITY(1,1) NOT NULL,
	[StatusDescription] [varchar](75) NOT NULL,
 CONSTRAINT [PK_REF_PersonStatusType] PRIMARY KEY CLUSTERED 
(
	[PersonStatusTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
