SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ORCID.].[AuthorInAuthorshipForORCID.GetList]
    @NodeID bigint = NULL,
    @SessionID uniqueidentifier = NULL
AS
BEGIN

    DECLARE @SecurityGroupID BIGINT, @HasSpecialViewAccess BIT
    EXEC [RDF.Security].GetSessionSecurityGroup @SessionID, @SecurityGroupID OUTPUT, @HasSpecialViewAccess OUTPUT
    CREATE TABLE #SecurityGroupNodes (SecurityGroupNode BIGINT PRIMARY KEY)
    INSERT INTO #SecurityGroupNodes (SecurityGroupNode) EXEC [RDF.Security].GetSessionSecurityGroupNodes @SessionID, @NodeID


    declare @AuthorInAuthorship bigint
    select @AuthorInAuthorship = [RDF.].fnURI2NodeID('http://vivoweb.org/ontology/core#authorInAuthorship') 
    declare @LinkedInformationResource bigint
    select @LinkedInformationResource = [RDF.].fnURI2NodeID('http://vivoweb.org/ontology/core#linkedInformationResource') 


    select i.NodeID, p.EntityID, i.Value rdf_about, p.EntityName rdfs_label, 
        p.Reference prns_informationResourceReference, p.EntityDate prns_publicationDate,
        year(p.EntityDate) prns_year, p.pmid bibo_pmid, p.mpid prns_mpid, mpg.URL
    from [RDF.].[Triple] t
        inner join [RDF.].[Node] a
            on t.subject = @NodeID and t.predicate = @AuthorInAuthorship
                and t.object = a.NodeID
                and ((t.ViewSecurityGroup BETWEEN @SecurityGroupID AND -1) OR (t.ViewSecurityGroup > 0 AND @HasSpecialViewAccess = 1) OR (t.ViewSecurityGroup IN (SELECT * FROM #SecurityGroupNodes)))
                and ((a.ViewSecurityGroup BETWEEN @SecurityGroupID AND -1) OR (a.ViewSecurityGroup > 0 AND @HasSpecialViewAccess = 1) OR (a.ViewSecurityGroup IN (SELECT * FROM #SecurityGroupNodes)))
        inner join [RDF.].[Node] i
            on t.object = i.NodeID
                and ((i.ViewSecurityGroup BETWEEN @SecurityGroupID AND -1) OR (i.ViewSecurityGroup > 0 AND @HasSpecialViewAccess = 1) OR (i.ViewSecurityGroup IN (SELECT * FROM #SecurityGroupNodes)))
        inner join [RDF.Stage].[InternalNodeMap] m
            on i.NodeID = m.NodeID
        inner join [Profile.Data].[Publication.Entity.Authorship] e
            on m.InternalID = e.EntityID
        inner join [Profile.Data].[Publication.Entity.InformationResource] p
            on e.InformationResourceID = p.EntityID
        left join  [Profile.Data].[Publication.MyPub.General] mpg
            on p.MPID = mpg.MPID
    order by p.EntityDate desc

END
GO
