SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [ORCID.].[REF_AffiliationType](
	[AffiliationTypeID] [tinyint] NOT NULL,
	[AffiliationType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_REF_AffiliationType] PRIMARY KEY CLUSTERED 
(
	[AffiliationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
