SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [ORCID.].[REF_WorkExternalType](
	[WorkExternalTypeID] [tinyint] IDENTITY(1,1) NOT NULL,
	[WorkExternalType] [varchar](50) NOT NULL,
	[WorkExternalDescription] [varchar](100) NOT NULL,
 CONSTRAINT [PK_REF_WorkExternalType] PRIMARY KEY CLUSTERED 
(
	[WorkExternalTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
