SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [ORCID.].[PersonURL](
	[PersonURLID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[PersonMessageID] [int] NULL,
	[URLName] [varchar](500) NULL,
	[URL] [varchar](2000) NOT NULL,
	[DecisionID] [tinyint] NOT NULL,
 CONSTRAINT [PK_PersonURL] PRIMARY KEY CLUSTERED 
(
	[PersonURLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [ORCID.].[PersonURL]  WITH CHECK ADD  CONSTRAINT [FK_Person_PersonURL] FOREIGN KEY([PersonID])
REFERENCES [ORCID.].[Person] ([PersonID])
GO
ALTER TABLE [ORCID.].[PersonURL] CHECK CONSTRAINT [FK_Person_PersonURL]
GO
ALTER TABLE [ORCID.].[PersonURL]  WITH CHECK ADD  CONSTRAINT [FK_PersonMessage_PersonURL] FOREIGN KEY([PersonMessageID])
REFERENCES [ORCID.].[PersonMessage] ([PersonMessageID])
GO
ALTER TABLE [ORCID.].[PersonURL] CHECK CONSTRAINT [FK_PersonMessage_PersonURL]
GO
ALTER TABLE [ORCID.].[PersonURL]  WITH CHECK ADD  CONSTRAINT [FK_REFDecision_PersonURL] FOREIGN KEY([DecisionID])
REFERENCES [ORCID.].[REF_Decision] ([DecisionID])
GO
ALTER TABLE [ORCID.].[PersonURL] CHECK CONSTRAINT [FK_REFDecision_PersonURL]
GO
