SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RDF.].[vwLiteral]
	WITH SCHEMABINDING
	AS
	SELECT NodeID, Value
		FROM [RDF.].[Node]
		WHERE ObjectType = 1 
			AND (DataType IS NULL OR DataType <> 'http://www.w3.org/2001/XMLSchema#float')

GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
CREATE UNIQUE CLUSTERED INDEX [idx_NodeID] ON [RDF.].[vwLiteral]
(
	[NodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE FULLTEXT INDEX ON [RDF.].[vwLiteral](
[Value] LANGUAGE [English])
KEY INDEX [idx_NodeID]ON [ft]
WITH CHANGE_TRACKING AUTO


GO
